<center>
<h1>Hogwarts Employees Only</h1>
<p>If you've reached this site by mistake, please contact your Resident Advisor.
Thank you.</p>
<p>Any unauthorized student attempts to access this domain shall be expelled!</p></center>

<center><%= image_tag "no.jpg", class: "img-responsive" %></center>
